.risk-info{
	/* margin:30px 1rem 30px 1rem; */
	text-align: justify;
	width: 95%;
	box-shadow: 5px 7px 10px #524f4f54;
	line-height: 1.6;
	padding: 2px 5px 2px 2px;
}
.heading{
	margin: 10px 0 30px 2rem;
}
.mt-30{
	margin-top:30px ;
}

#create-client:hover{
	cursor: pointer;
}
.administration{
	/* background-color: gray; */
	display: flex;	
	justify-content: space-evenly;
	flex-direction: row;

}
.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}

.process {
display: flex;
}

.more-less {
    float: right;
    color: #212121;
}

.p-0{
    padding:0px !important;
}
.right{
    float:right;
}
.client-form{
    width: 98%;
    padding: 30px 45px;
    margin: 0 auto;
    background: white;
}

.collapse_heading{
    background:white;
    padding: 8px 15px;
}

.collapse_heading a{
    color:black;
    font-size:16px;
    font-weight:500;
}

.c_body{
    padding:8px 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}