.risk-info{
	/* margin:30px 1rem 30px 1rem; */
	text-align: justify;
	width: 95%;
	box-shadow: 5px 7px 10px #524f4f54;
	line-height: 1.6;
	padding: 2px 5px 2px 2px;
}
.heading{
	margin: 10px 0 30px 2rem;
}
.mt-30{
	margin-top:30px ;
}

#create-client:hover{
	cursor: pointer;
}
.administration{
	/* background-color: gray; */
	display: flex;	
	justify-content: space-evenly;
	flex-direction: row;

}
.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}

.process {
display: flex;


}